.MainShop {
  min-height: 100dvh;
  background-color: rgb(0, 33, 0);
  .wrap {
    padding-top: 100px;
    h1 {
      text-align: center;
      font-size: 100px;
    }

    .product {
      background-color: rgb(240, 240, 240);
      padding: 20px;
      margin-bottom: 36px;
      border-radius: 10px;
      cursor: pointer;

      .img {
        @include flexCenter;
        padding: 10px 0;
        border-radius: 10px;
      }
      .bot {
        padding: 16px 0;
        display: flex;
        gap: 16px;
        flex-direction: column;
        h2 {
          text-align: center;
        }

        .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: fit-content;

          .text {
            strike {
              color: rgb(213, 0, 0);
              font-size: 24px;
            }
          }
          h3 {
            color: black;
            margin-top: -10px;
            font-size: 30px;
          }

          .stars {
            svg {
              margin: 0 1px;
            }
            * {
              color: rgb(255, 208, 0);
            }
          }
        }
      }

      .desc {
        p {
          color: black;
          font-size: 16px !important;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          @supports (-webkit-line-clamp: 3) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }

      .add {
        background-color: $color_p1;
        color: white;
        font-size: 30px;
        padding: 0 20px;
        border-radius: 2px;
        cursor: pointer;
        text-align: center;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    // .product {
    //   position: relative;

    //   &:hover {
    //     img {
    //       transform: scale(1.1) rotate(-10deg);
    //     }
    //   }

    //   .bg {
    //     position: absolute;
    //     width: 180px;
    //     height: 180px;
    //     left: 50%;
    //     top: 50%;
    //     z-index: 1;
    //     transform: translate(-50%, -35%);
    //     border-radius: 50%;
    //     opacity: 0.7;
    //   }

    //   img {
    //     position: relative;
    //     z-index: 2;
    //     padding: 40px;
    //   }
    //   h2 {
    //     font-size: 40px;
    //   }

    //   p {
    //     font-size: 30px;
    //   }

    //   span {
    //     text-decoration: line-through;
    //     margin: 0 10px;
    //     opacity: 0.8;
    //     font-size: 16px;
    //   }
    //   text-align: center;
    //   display: flex;
    //   align-items: center;
    //   flex-direction: column;
    //   margin-bottom: 50px;

    //   .add {
    //     margin: 20px 0;
    //     background-color: white;
    //     color: $color_p1;
    //     font-size: 25px;
    //     padding: 0 20px;
    //     border-radius: 20px;
    //     cursor: pointer;

    //     &:hover {
    //       transform: scale(1.2);
    //     }
    //   }

    //   @include respond-above(md) {
    //     h2 {
    //       font-size: 70px;
    //     }
    //     img {
    //       height: 350px;
    //     }

    //     .bg {
    //       width: 300px;
    //       height: 300px;
    //     }

    //     img {
    //       padding: 0;
    //     }
    //   }
    // }
  }
}
