.LocationsSection {
  .head {
    text-align: center;
    h1 {
      //   margin: 10px 0;
      font-size: 50px;
    }

    p {
      font-size: 20px;
      font-weight: 100;
    }
  }

  .locations {
    max-width: 700px;
    margin: auto;
    .loc {
      padding: 30px;
      margin: 12px 0;
      border-radius: 10px;
      @include flexCenter;
      gap: 4px;
      * {
        color: black;
      }
      svg {
        font-size: 20px;
        margin-bottom: 4px;
      }

      h4{
        letter-spacing: 1px;
        font-size: 28px;
      }
    }
  }

  .btn {
    text-align: center;
    margin-top: 40px;
  }

  @include respond-above(md) {
    .head {
      h1 {
        font-size: 100px;
      }
      p {
        max-width: 500px;
        margin: auto;
      }
    }
  }
}
